<ng-diagram-node-resize-adornment>
  <div class="lane" ngDiagramNodeSelected ngDiagramGroupHighlighted [node]="node()">
    <div class="lane__header" [style.width.px]="headerWidth">
      <div class="lane__controls" (pointerdown)="stop($event)">
        <button type="button" class="lane__btn" title="Move lane up" (click)="moveUp($event)">
          <svg viewBox="0 0 16 16" aria-hidden="true"><path d="M8 4l4 5H4z" fill="currentColor" /></svg>
        </button>
        <button type="button" class="lane__btn" title="Move lane down" (click)="moveDown($event)">
          <svg viewBox="0 0 16 16" aria-hidden="true"><path d="M8 12L4 7h8z" fill="currentColor" /></svg>
        </button>
      </div>
      <span class="lane__title">{{ title() }}</span>
    </div>
    <div class="lane__body"></div>
  </div>
</ng-diagram-node-resize-adornment>
